doctype html
html
    head
        title cute URL
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet", href="design.css")
        link(href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet")
    body(class="purple darken-1")
        h2(class="center-align") cute URL
        form(action="/tiny", method="post" class="container center-align")
            input(id="input" name="direccion" type="text" placeholder="Please enter your long URL")
            button(id="centralbtn" class="btn-large waves-effect waves-light teal accent-4" type="submit") make me cute
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        div(class="row")
            div(class="col s12 center-align")
                form(action="/statistics", method="get")
                    button(id="statisticsbtn" class="btn-large waves-effect waves-light cyan accent-4" type="submit") statistics